<%- include('./partials/header') %>
<div class="page-container">
<h2 class="page-title">Welcome to <%= title %></h2>
<p class="intro">Welcome to our Homemade, where we believe that anyone can become a confident cook with a little guidance and a lot of delicious recipes! If you're new to the culinary world or just starting your cooking journey, you've come to the right place.

    Our blog is designed to provide beginner-friendly recipes that are easy to follow, with step-by-step instructions that will walk you through each dish.</p>
<a href="/recipes" class="recipe-link">Search for recipes</a>
</div>
<%- include('./partials/footer') %>