<%- include('../partials/header') %>

<h2>Add a new recipe!</h2>
<form action="/recipes" method="POST">


  <label>Title:
    <input type="text" name="title">
  </label><br>

  <label>Image URL:
    <input type="text" name="imageURL">
  </label><br>

  <label>Ingredients (separate ingredients with commas):
    <input type="text" name="ingredients">
  </label><br>

  <label>Instructions:
    <input type="text" name="instructions">
  </label><br>
  <input type="submit">Add Recipe</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>