<%- include('../partials/header') %>

<h2>Add a new recipe!</h2>
<form action="/recipes" method="POST">


  <label>Title:
    <input type="text" name="title">
  </label><br>

  <label>Date:
    <input type="date" name="date">
  </label><br>

  <label>Image URL:
    <input type="text" name="imageUrl">
  </label><br>

  <label>Ingredients (separate ingredients with commas):
    <input type="text" name="ingredients">
  </label><br>

  <label>Instructions:
    <input type="text" name="instructions">
  </label><br>
  <button type="submit">Add Recipe</button>


<%- include('../partials/footer') %>